.pages_container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  right: 50px;
  translate: 0% -50%;
  z-index: 100;
}

.page {
  width: 3px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.075);
}

@media (min-width: 320px) and (max-width: 760px) {
  .pages_container {
    flex-direction: row;
    left: 50%;
    top: 98%;
    translate: -50% -50%;
    z-index: 0;
  }

  .page {
    width: 25px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.075);
  }
}
